.form-container {
  display: grid;
  grid-template: 0.5fr auto / auto;
  padding: 10px;
  padding-top: 200px;
}

.form-header {
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "anton";
  padding-bottom: 50px;
}

.the-form {
  grid-row: 2 / 3;
}
